{
    "root": true,
    "extends": [
        "eslint:recommended",
        "airbnb",
        "airbnb/hooks",
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier",
        "prettier/standard",
        "prettier/react",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        // "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off"
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    }
}
